$color-black: #000;
$color-white: #fff;
$color-blue_background: #003676;
$color-blue_header: #00214acb;
$color-blue-subtitle: #8A9BC6;
$color-blue-fill-card:#001126;
$color-blue-stoke-card: #676767;
$color-gray-deraction-career: #D9D9D9;
$color-purple-logo:#6C3CF4;