@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&family=Roboto:wght@400;500;700&display=swap');
@import '../utils/variables';
@import '../components/header';
@import '../components/hero';
@import '../components/skills';
@import '../components/studies';
@import '../components/footer';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: $color-white;
    font-family: 'DM sans', sans-serif;
    font-size: 16px;
}

.backgound{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to top, $color-black 40%, $color-blue_background);
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

button{
    border: none;
}

.button__contact{
    background-color: #6C3CF4;
    width: 150px;
    height: 50px;
    border-radius: 8px;
}

.button__contact:hover{
    color: black;
    background-color: #ffffff;
}

ul{
    list-style: none;
}

h1{
    font-size: 64px ;
}

h2{
    font-size: 32px;
    margin-bottom: 30px;
}

h3{
    font-size: 24px;
    color: $color-blue-subtitle;
}

section{
    margin: 100px 0;
}

.container{
    width: 750px;
    margin: 0 auto;
    text-align: center;
}

